@font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat-Regular.eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat-Bold.eot');
    font-weight: 700;
    font-style: normal;
}